a {
  color: green;
}

a:hover {
  color: rgb(128, 124, 0);
}


/* 
**********
* HEADER *
**********
*/
header {
    color: #98fb98;
    background-color: #964b00;
    text-align: center;
    font-family: "Rye", serif;
    font-size: 15pt;
    word-spacing: 6px;
    padding: 10px;
    position: absolute;
    top: 0;
    width: 99%;
    margin-bottom: 0;
    overflow: hidden;
}

.dropdown-menu {
  float: left;
  color: lightgray;
  font-family: serif;
}

.dropdown-menu:hover .dropdown-content {
  display: block;
}

.dropdown-button {
  background-color: #964b00;
  color: lightgray;
  font-size: 20pt;
  border: none;
  padding: 3px 0 0 3px;
  left: 0;
}

.dropdown-button:hover {
  border: none;
}

.dropdown-content {
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: left;
  display: none;
  word-spacing: normal;
  font-size: 12pt;
  position: absolute;
  z-index: 1;
  background-color: #964b00;
}

.dropdown-content a:link, .dropdown-content a:visited {
  color: lightgray;
}

.dropdown-content a:hover {
  background-color: #b86d22;
}

.account-doorway-link {
  position: absolute;
  float: right;
  top: 10px;
  margin-left: 90%;
  font-family: "Raleway", sans-serif;
}

.account-doorway-link a:link, .account-doorway-link a:visited {
  color: #98fb98;
}

.account-doorway-link a:hover {
  color: lightskyblue;
  text-decoration: underline;
}


/* 
********
* MAIN *
********
*/
main {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: -190px 0 0 0;
    padding: 5px 0 0 0;
    font-family: "Raleway", sans-serif;
    background-image: url("./images/background1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


/* 
************
* HOMEPAGE *
************
*/
.states, .states h2, .states h3, .states h4, .accounts, .accounts h2, .accounts h3 {
  margin: 0;
  padding: 0 0 0 20px;
  color: #4b2600;
}

.states {
  margin-top: 10px;
}

.tiny-footnote {
  font-size: 9pt;
  margin: 0;
  padding-left: 20px;
}

.accounts {
  margin-top: 100px;
}


/* 
************************
* PARK SELECTION PAGES *
************************
*/
.state {
  text-align: center;
}

.state h1 {
  font-family: "Cherry Cream Soda";
}

#park-choices {
  padding: 0 5px;
}

.stateMap {
  text-align: center;
  margin-top: 50pt;
}

/*_________________________________________________________________________
*************
* 404 ERROR *
*************
*/

.page-not-found {
  text-align: center;
  background-color: white;
  color: black;
  width: 100%;
  padding-top: 1px;
  margin: 0 auto 20px auto;
}

.page-not-found h1 {
  font-size: 110pt;
  margin: 0 0 15px 0;
  text-decoration: underline;
  color: #644117;
}

.page-not-found h2 {
  font-size: 40pt;
  margin: 0;
}
